.recommendation-card {
  background-color: var(--color-background);
  border-radius: 5px;
  padding: var(--space);
  width: 500px;
  margin: auto;
  box-shadow: var(--shadow);
}

.recommendation-card__skeleton {
  background-color: black;
  border-radius: 5px;
  width: 500px;
  height: 400px;
  margin: auto;
  box-shadow: var(--shadow);
}

.recommendation-card p {
  margin-bottom: var(--space-sm);
}

.recommendation-card__image {
  min-width: 500px;
  min-height: 250px;
  aspect-ratio: 2;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: lightgray;
  position: relative;
}

.recommendation-card__image::after {
  position: absolute;
  content: '🍝';
  font-size: 72px;
  top: calc(50% - 36px);
  left: calc(50% - 36px);
}

.recommendation-card__content {
  padding: var(--space-md);
}
