@import './reset.css';

:root {
  /* Colors */
  --color-foreground: #000000;
  --color-foreground-secondary: #333333;
  --color-foreground-muted: #aaa;
  --color-border: #999999;
  --color-background: #fefefe;
  --color-accent: #aa4d06;
  --color-error: #ff0000;

  /* Font */
  --shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);

  /* Font */
  --font-size-xl: 28px;
  --font-size-lg: 24px;
  --font-size-md: 18px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;
  --space-xl: 64px;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: larger;
  font-weight: bold;
  margin-bottom: var(--space-md);
}

h2 {
  font-size: large;
  font-weight: bold;
  margin-bottom: var(--space-sm);
}

p,
button,
span,
input,
select {
  font-size: medium;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #03ab11, #f6f31a);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  padding: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.magic-button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: var(--font-size-lg);
  justify-content: center;
  line-height: 1em;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.magic-button--larger {
  font-size: var(--font-size-lg);
  padding: var(--space-sm) var(--space-lg);
  max-width: 100%;
  min-width: 120px;
}

.magic-button--smaller {
  font-size: var(--font-size-md);
  padding: var(--space-sm) var(--space-md);
  max-width: 200px;
  min-width: 100px;
}

.magic-button:disabled {
  background-image: none;
  background-color: var(--color-border);
  box-shadow: none;
  cursor: not-allowed;
}

.magic-button:active,
.magic-button:hover {
  outline: 0;
}
